@model Category //Creates new instance since nothing was passed

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .text-danger:empty {
            display: none;
        }
    </style>
</head>

<body>
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Create Category</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="row">
                <!--Send post model-->
                <div class="border p-3">
                    <div asp-validation-summary="All" class="mt-1 text-danger"></div> <!--Display a summary of all the errors-->
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Name" class="form-control border-1 shadow" />
                        <label asp-for="Name" class="ms-2"></label>
                        <span asp-validation-for="Name" class="text-danger ms-3"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Description" class="form-control border-1 shadow" />
                        <label asp-for="Description" class="ms-2"></label>
                        <span asp-validation-for="Description" class="text-danger ms-3"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="DisplayOrder" class="form-control border-1 shadow" />
                        <label asp-for="DisplayOrder" class="ms-2"></label>
                        <span asp-validation-for="DisplayOrder" class="text-danger ms-3"></span>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border form-control">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>




   
</body>
</html>

<!--Consuming partial view JavaScript for client side validation-->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}